*{
    margin: 0px;
    padding: 0px;
}

section{
    background-color: rgb(5, 5, 5);
    width: 99vmin;
    height: 99vmin;
    border-radius: 5px solid red;
}

.body{
    background: url("snake_img1.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


#board{
    background: linear-gradient(rgb(255, 0, 85), rgb(37, 120, 197));
    width: 95vmin;
    height: 95vmin;
    border: 5px solid silver;
    display: grid;
    grid-template-rows: repeat(25,1fr);
    grid-template-columns: repeat(25,1fr);
}

.head{
    background:linear-gradient(rgb(0, 56, 139), rgb(219, 147, 58));
    border : 3px solid black;
    border-radius: 12px;
    transform: scale(1.2);
}

.snake{
    background:linear-gradient(rgb(0, 56, 139), rgb(219, 147, 58));
    background:linear-gradient(brown, darkorange);
    border : 3px solid black;
    border-radius: 12px;
}

.food{
    background:linear-gradient(rgb(180, 158, 158), rgb(48, 47, 46));
    border : 3px solid black;
    border-radius: 12px;
}

#scorebox{
    position: absolute;
    top: 20px;
    right: 180px;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
}
/* #hiscorebox{
    position: absolute;
    top: 75px;
    right: 150px;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
} */